.nuget/
.vscode/
.vs/
.DS_Store
.python-version

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Cc]ode[Cc]overage/
*.csproj
*.sln
*.unitypackage

*.aar
*.bc
*.dll
*.dylib
*.so
**/*.framework/*
!**/*.framework/*.meta

bazel-*

Assets/StreamingAssets*

Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/*
!Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/*.meta
Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/object_detection_3d.bytes.meta
Packages/com.github.homuler.mediapipe/Runtime/Plugins/Protobuf/*.dll
Packages/PackageResources/MediaPipe/*
/Packages/Microsoft.Unity.Analyzers.1.19.0
/Packages/Google.Protobuf.3.20.0
/Packages/ErrorProne.NET.CoreAnalyzers.0.4.0-beta.1
/Packages/ErrorProne.NET.Structs.0.4.0-beta.1
/Packages/System.Runtime.CompilerServices.Unsafe.4.5.2
